@tailwind base;
@tailwind components;
@tailwind utilities;

.timeline {
    position: relative;
    margin-top: 20px;
  }
  
  .timeline-item {
    position: relative;
    margin-bottom: 20px;
  }
  
  .timeline-content {
    position: relative;
    border-left: 2px solid #9ca3af;
    padding: 20px;
    border-radius: 4px;
  }
  
  .timeline-content.visible {
    animation: fade-in 0.5s ease forwards;
  }
  

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.borderBlack {
    @apply border border-black/10;
}